@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
}

/* :root {
  --purple-b : #DAF;
  --purple-w : #A5F
}
.text-purple {
  color: var(--purple-w) !important;
}
a{
  text-decoration: none;
  color: black;
}
button {
  background: none;
  border: none;
}
.home {
  background-image: url("../public/bg.jpg");
  background-position: center;
  background-size: cover;
}
/*Model*/
/* .modal-content {
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
}
.modal {
  background-color: white;
  padding-right: 0px !important;
}*/

.form-control {
  border-radius: 0px;
  border: 1px solid;
}
.form-control:focus {
  box-shadow: none;
  border-color: black;
}
/* textarea {
  height: 120px;
}

.h4 {
  margin-bottom: 0px;
}
.bg-white{
  background-color: white !important;
}
.pr-9{
  position: relative;
  top: -9px;
}
@media (min-width: 576px){
  .modal-dialog {
      max-width: 100%; 
      margin: 0px;
  }
}   */
